name: Windows-arm64

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-11-arm

    steps:
    - name: Set password for runneradmin
      run: |
        $SecurePassword = ConvertTo-SecureString -String $env:SSH_PASSWORD -AsPlainText -Force
        Set-LocalUser -Name "runneradmin" -Password $SecurePassword
      env:
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}

    - name: Enable RDP server
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

    - name: Setup SSH reverse RDP tunnel
      shell: pwsh
      env:
        HOST: ${{ secrets.HOST }}
        PORT: ${{ secrets.PORT }}
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        $env:SSH_PRIVATE_KEY | Out-File -FilePath id_rsa -Encoding ascii -Force
        icacls id_rsa /reset
        icacls id_rsa /inheritance:r
        icacls id_rsa /remove "NT AUTHORITY\Authenticated Users"
        icacls id_rsa /remove "BUILTIN\Users"
        icacls id_rsa /grant:r "$($env:USERNAME):(R)"
        ssh-keyscan -p $env:PORT $env:HOST 2>$null | Out-File -FilePath known_hosts -Append
        ssh -N -p $env:PORT -R 0.0.0.0:3389:localhost:3389 -i id_rsa -o UserKnownHostsFile=known_hosts -o StrictHostKeyChecking=no -o ServerAliveInterval=60 -o ServerAliveCountMax=3 $env:HOST

    - name: Wait for 6h
      run: |
        Start-Sleep -Seconds 21000
